/* Header */
.search-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Job Container */
.job-container {
  margin: 10%;
}

/* Job Item */
.job-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-item h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.job-item p {
  margin: 0;
}

/* Additional Styling (you can customize this) */
.job-item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
