.body1 {
    background-image: url("https://img.freepik.com/premium-photo/job-search-button-black-keyboard-find-your-career-using-online-website-find-job_556176-1033.jpg");
    background-size: 55% 100%;
    background-position: right;
    background-color: rgb(15, 18, 74);
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    align-items: left;
    justify-content: flex-start; 
    flex-direction:column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow: hidden;
  }
.img{
    position:fixed;
    top: 50px;
}
.login-form {
    background-color:rgb(240, 240, 238);
    padding: 10rem;
    padding-left: 20px;
    padding-right: 35px;
    position: relative;
    left: 500px;
    top: 40px;
    width: 18%; 
    height: 15%;
    text-align: left;
    box-shadow: 0 9px 12px 0 rgba(26, 26, 72, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    
  }

.title {
    font-size: 25px;
    margin-bottom: 20px;
  }

input[type=text],[type=password]
{
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width:80%;
    border-radius: 30px;
    margin-left: 10px;
    box-sizing: border-box;
}
button[class="Submit"] {
    margin-top: 1x;
    cursor: pointer;
    font-size: 10px;
    background:rgb(232, 55, 55);
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    padding: 5px 20px;
  }
  button[class="Submit"]:hover {
    background:rgb(73, 218, 57);
  }

button[class="login"] {
    margin-top: 1x;
    cursor: pointer;
    font-size: 10px;
    background:rgb(186, 44, 44);
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    padding: 5px 20px;
  }
  button[class="login"]:hover {
    background: rgb(38, 228, 60);
  }
  .button-container {
    display:inline-block;
    justify-content:center;
  }
  .input-container {
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 15px;
  }
